site_name: Ansible101
theme:
  features:
    - navigation.expand
    - content.code.copy
  name: material
  # logo: images/logo.png
  # favicon: images/favicon_old.png
  font:
    text: Roboto
    code: Roboto Mono
  palette: 
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

nav:
  - Home: index.md
  - Contenido:
      - Introduccion: introduction.md
      - Fundamentos: basics.md
      - Variables: vars.md
      - Admonitions: admonitions_list.md
